.about-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
}
.about-parent {
  margin: 2% 5%;
}
.about-desc {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.about-main::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.about-main {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}
